@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800)

@import Var_mix

body, ul, li
  margin: 0
  padding: 0
  font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif


#main-wrapper
  position: relative
  min-height: 100vh

/* margen general de 20px, para todo el contenido*/
img
  margin: 20px


@import header

main
  margin: 20px 0 0
  padding-bottom: 20px

@import footer

  
